html,body{ margin:0; height:100%; }
body{background-repeat: no-repeat;padding: 0px;overflow: auto;font-family: ו,verdana;font-size: 12pt;margin:0;}
/*Div*/
.DivGridView{height: 93%; width: 100%;border: 2px solid #cccccc;}
.DivSelectAll{height:10px;float:left;font-family: ו,verdana;font-size: 10pt;}
.DivNavigatior{height:10px;float: right;}
/*Table*/
.TableMain{left: 0px;top: 0px;width: 100%;height: 100%;border: 0px;}
.TableSubMain{ width: 100%; height: 100%;}
/*Td*/
.TDTitle{height:12; padding-left:8px; padding-top:6px;}
.TDMain{height:80%;}
.TDOperate{height:10px; text-align:center;}
.TDPadding{padding-left: 8px;padding-right: 8px;}
.TDLabel{ text-align:right; width:160px;}
.TDValue{ text-align:left; width:180px;}
.TDSperate{ width:8px;}
/*Label*/
.LabelMain{font-weight: bold;font-size: 9pt;color: #000000;}
.LabelTitle{font-weight: 500;font-size: 12px;color: #000000;}
.LabelPaging { font-weight: 600; font-size: 12px; color: #000000; }
/*Testbox*/
.TextBoxMain160{height: 20px;border: #ababab 1px solid;font-size: 12px;text-align: left;width: 160px;margin-left: 10px;}
.TextBoxMain300{height: 20px;border: #ababab 1px solid;font-size: 12px;text-align: left;width: 300px;margin-left: 10px;}
/*Button*/
.GVButtonEdit{border: 0px;background-image: url(../images/icons/edit.gif);cursor: pointer; width:20px; background-repeat: no-repeat;text-align: center;}
.ButtonMain{width: 80px;height: 23px;border: 0px;border-style: solid;background-repeat: no-repeat;background-image: url(../images/button_bg_80.gif);
    font-size: 12px;font-family: verdana;text-align: center;cursor: pointer;}
.LinkButtonPaging { font-size: 12px; color: #000000; }
/*DropdownList*/
.DropDownListMain160{border: #ababab 1px solid;font-size: 12px;text-align: left;width: 160px;margin-left: 10px;height: 19px;}
.DropDownListMain300{border: #ababab 1px solid;font-size: 12px;text-align: left;width: 300px;margin-left: 10px;height: 19px;}

.gridview_list{width: 100%;background: #fff none;}
.gridview_header th, .gridview_list th{background: #e8e8e8;height: 25px;text-align: center !important;white-space: nowrap;}
.gridview_list td, .gridview_list th{white-space: nowrap;padding: 0 5px;}
.gridview_list td{height: 25px;}
.gridview_list a:link, .gridview_list a:visited, .gridview_list a:active{color: #000;text-decoration: underline;}
.gridview_list a:hover{color: #cc0033;text-decoration: underline;}
.gridview_header th a:link{text-decoration: underline;}
.gridview_list .altrow{background: #f2f2f2;}
.gridview_list td td{padding: 0 5px !important;height: auto !important;}
.gridview_list td .gridview_list th{padding: 0 5px !important;}
.gridview_list .gridview_emptydata{height: 22px;line-height: 22px;}
.gridview_list .gridview_emptydata img{position: relative;top: 0px;}
.gridview_list td.widthcontrol, .gridview_list tdh.widthcontrol{word-break: break-all;}
